.App {
  text-align: center;
}

.product-main-card{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
flex-wrap: wrap;
}

.card-main{
  position: relative;
}

.card-actions{
  position: absolute;
  display: flex;
  width: 80%;
  height: 5vh;
  flex-direction: row;
  justify-content: space-between;
  bottom: 0;
}